{% extends 'base.html' %}
{% block title %}Projetos | Portfólio{% endblock %}
{% block content %}
    <section>
        <h1>Meus projetos</h1>
        <p>Nesta seção, compartilho alguns dos projetos que desenvolvi ou contribuí como desenvolvedor Python. Cada um deles reflete minha busca por soluções eficientes, escaláveis e com impacto real — seja na automação de tarefas, no desenvolvimento de interfaces seguras e acessíveis, ou na criação de sistemas completos. Todos os projetos aqui apresentados foram pensados com foco em clareza, valor prático e boas práticas de desenvolvimento.</p>
    </section>
    <section>
        <ul>
            {% for chave, projeto in projetos.items %}
                <li><a href="{% url 'detalhes_projeto' id_projeto=chave %}">{{projeto.titulo}}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
