/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
:root {
    --primary-color: #6c63ff;
    --secondary-color: #4a41da;
    --dark-color: #2d2b55;
    --light-color: #f8f9fa;
    --dark-color: #333;
    --gray-color: #6c757d;
    --border-radius: 8px;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}
body {
    background: linear-gradient(to right, black, rgb(14, 14, 61));
    font-size: 1.5rem;
    color: #e0e0e0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}
a {
    color: #88c0d0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background-color: #06020f3a;
    padding: 2% 7%;
    box-shadow: var(--box-shadow);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    background-color: #07041da4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);;
}

.branding {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 7rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}


header h2 {
    margin-right: auto;
    font-size: 1.2rem;
    color: #ffffff;
}

main {
    flex: 1;
    padding: 7% 1%;
    /* max-width: 900px; */
    margin: 0% 10%;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

section {
    margin-bottom: 3rem;
    background-color: rgba(29, 49, 75, 0.068);
    border-radius: var(--border-radius);
    padding: 2rem;
    box-shadow: var(--box-shadow);
}

.sobre {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    margin-bottom: 5%;
}

.sobre-mim {
    width: 70%;
    padding-left: 10%;
}

.sobre-imagem {
    width: 40%;
}

.foto {
    height: 30rem;
}

/* Skills */
.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    list-style: none;
}

.skill-item {
    background:  linear-gradient( -11deg, rgb(0, 0, 0), rgba(5, 21, 110, 0.397) );
    padding: 1rem;
    border-radius: var(--border-radius);
    text-align: center;
    transition: var(--transition);
}

.skill-item:hover {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-3px);
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #aaaaaa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0 15%;
}

.img {
    width: 5rem;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;

}
.footer-social :hover {
    color: #f8f9fa;
}

.footer-link a {
    color: #ddd;
    font-size: 1.3rem;
}

.footer-link a:hover {
    color: var(--primary-color);
}

.copyright {
    color: #ddd;
    font-size: 0.9rem;
}

/* Project List */
.project-list {
    list-style: none;
}

.project-item {
    margin-bottom: 1rem;
    transition: var(--transition);
}

.project-item a {
    display: block;
    padding: 1rem;
    background:  linear-gradient( -11deg, rgb(0, 0, 0), rgba(5, 21, 110, 0.397) );
    border-radius: var(--border-radius);
    font-weight: 500;
    transition: var(--transition);
    color: white;
    
}

.project-item a:hover {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-3px);
    text-decoration: none;
}

/* Project Details */
.project-image {
    border-radius: var(--border-radius);
    margin-top: 1.5rem;
    box-shadow: var(--box-shadow);
}


.project-details {
    margin-bottom: 3rem;
}

.project-meta {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.project-meta :hover {
    background-color: var(--primary-color);
}

.meta-item {
    background:  linear-gradient( -11deg, rgb(0, 0, 0), rgba(5, 21, 110, 0.397) );
    padding: 2rem 4rem;
    border-radius: var(--border-radius);
}

.meta-item :hover {
    background: none;
}

.meta-item strong {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}